h1 {
  color: blueviolet;
}
h2,
h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li {
  color: orange;
}
footer {
  display: flexbox;
  color: blue;
}
h4 {
  color: black;
}
